.logo{
	width: 100px;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	padding: 20px 0;
	position: fixed;	
	background-color:silver;
	width: 100%;

}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

.nav-ul{
	display: flex;

}
.nav-li{
	margin-right: 10px;
}
.nav-li:last-child{
	margin-right: 0;
}
.social{
	height: 26px;
}
.social-li{
	margin-right: 15px;
}
.social-li:last-child{
	margin-right: 0;
}
.social-ul{
	display: flex;
}
.social-li::after{
	content: "";
	width: 2px;
	height: 26px;
	display: inline-block;
	background: #3D58A6;
	margin: 0 5px;
}
.active::after{
	display: none;
}
.banner{
	background-color: #e6e6e6;
	padding: 30px;
}
.blue-bg{
	background-color: #363E97;
	padding: 89px;
	box-sizing: border-box;

}
.bg2{
	background-color: #f2f2f2;
	width: 570px;
	height: 320px;
	margin-right: 30px;
}
.bg:last-child{
	margin-right: 0;
}
.light-blue{
	background-color: #BDCCD4;
	padding: 90px;
	box-sizing: border-box;
}
.image-box{
	width: 270px;
	flex-wrap: nowrap;
}

