.logo{
	width: 100px;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	padding: 20px 0;

}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.nav-ul{
	display: flex;

}
.nav-li{
	margin-right: 10px;
}
.nav-li:last-child{
	margin-right: 0;
}
.social{
	height: 26px;
}
.social-li{
	margin-right: 15px;
}
.social-li:last-child{
	margin-right: 0;
}
.social-ul{
	display: flex;
}
.social-li::after{
	content: "";
	width: 2px;
	height: 26px;
	display: inline-block;
	background: #3D58A6;
	margin: 0 5px;
}
.active::after{
	display: none;
}